* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #FFF5BC;
}

nav {
    background-color: #BF0413;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;

}
.navigation {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

nav a:hover {
    color: #D95F69;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
}




