* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #BF0413;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;

}
.navigation {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* display: grid; */
    /* grid-template-columns: ; */
}

nav a:hover {
    color: #D95F69;
}

/* .logo {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
    margin-left: 40px;
    padding-top: 30px;
} */

.image {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #BF0413;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.container-1 h1 {
    padding-right: 30px;
}

.container-1 img {
    flex: 0 0 auto;
    margin-right: 10px;
    height: 350px;
    width: auto;
}

.container-1 text {
    text-align: center;
}

.container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.container-2 img {
    flex: 0 0 auto;
    margin-right: 10px;
    height: 400px;
    width: auto;
}

.container-2 h1 {
    padding-right: 30px;
}

.container-2 text {
    text-align: center;
}


.container-3 {
    display: flex; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.container-3 img {
    flex: 0 0 auto;
    margin-right: 10px;
    height: 450px;
    width: auto;
}

.container-3 text {
    text-align: center;
}

.container-3 h1 {
    padding-right: 30px;
}

.container-3 p {
    padding-left: 30px;
}

body {
    background-color: #FFF5BC;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nav img {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 20px;
    height: 50px;
} */
/* .container-1 img { 
    justify-content: center;
    height: 500px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.container-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    
} */